{% extends 'container.html' %}
{% block contenido %}

<div class="panel panel-primary">
    <div class="panel-heading">
      <a class="btn btn-outline-primary float-right" href="{% url 'Arbitro:Isertar' %}">Agregar</a>
      <h1>
        Arbitro
      </h1>

    </div>
</div>
<div class="panel-body">
  <div class="table-stats order-table ov-h">
      <table class="table ">
          <thead>
              <tr>
                  <th class="serial">ID</th>
                  <th>certificado</th>
                  <th>nombre</th>
                  <th>Acciones</th>
              </tr>
          </thead>
          {% csrf_token %}
          <tbody>
              {% for arb in Arbitro  %}
              <tr>
                  <td class="serial"> {{arb.id}}</td>
                  <td> <span class="">{{arb.certificado}}</span> </td>
                  <td>  <span class="name">{{arb.nombreA}}</span> </td>
                  <td>
                    <div class=" btn-group  dropright pr-3" style="margin-right:20%">
                       <button class="btn btn-danger dropdown-toggle " type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                         Acciones
                       </button>
                       <div class="dropdown-menu p-3" aria-labelledby="dropdownMenuButton">
                         <a  class="btn btn-outline-danger btn-block " href="{% url 'Arbitro:Eliminar' arb.id  %}">eliminar</a>
                         <a class="btn btn-outline-info  btn-block mt-2 " href="{% url 'Arbitro:Editar' arb.id  %}">Editar</a>
                       </div>
                     </div>
                 </td>
              </tr>
                {% endfor %}
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>

                </tr>
          </tbody>
      </table>
  </div> <!-- /.table-stats -->
</div>


{%endblock contenido%}
